
<ion-content [fullscreen]="true">

	<div >
		<ion-item>
			<ion-label>Email</ion-label>
			<ion-input type="email" placeholder="email adress"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Password</ion-label>
			<ion-input type="password" placeholder="password"></ion-input>
		</ion-item>

		<ion-item lines="none">
			<ion-button color = "light" fill="clear" slot="end">Forget password?</ion-button>
		</ion-item>

		<ion-button class = "mybutton" shape ="round" expand = "block" >Sign In</ion-button>

	</div>
</ion-content>
